[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/neocomplcache"]
	path = bundle/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
[submodule "bundle/autoclose"]
	path = bundle/autoclose
	url = git://github.com/Townk/vim-autoclose.git
[submodule "bundle/undotree"]
	path = bundle/undotree
	url = git://github.com/mbbill/undotree.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
